/*typsnitt*/
@font-face {
    font-family: Roboto-Regular;
	src: url('fonts/roboto-regular.ttf');
}
body {
	font-family: Roboto-Regular, Arial, Sans-Serif;	
    background: linear-gradient(to bottom, #45fcde 0%, #78fd1d 100%);
	display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/*global meny*/
nav > ul {
	list-style-type: none;
	margin-top: 0;
	padding: 0;
	overflow: hidden;
	background-color: #00b30c;
	width: 100%;
}
nav ul li {
	float: left;
}
nav ul li a {
	display: block;
	padding: 8px;
	text-decoration: none;
	color: white;
	padding: 10px 25px;
}
nav ul li a:hover {
	background-color: #157124;
}

/*huvudrubrik*/
h1 {
	text-align: center;
	margin-top: 50px;
}

section {
	margin-top: 30px;
}
p {
	margin: 8ex;
	margin-top: 4ex;
}
#info {
	text-align: center;
}
/*roterad bild*/
figure img {
	height: 150px;
	width: 225px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	transform: rotate(10deg);
}

/*lokal meny*/
.meny {
	text-align: center;
	margin-top: 8%;
}
.meny li a {
	margin: 2em;
	border: 1px solid black;
	border-radius: 5px;
	text-decoration: none;
	color: black;
	padding: 20px;
}
/*LoVe Focus HAte*/
.meny li a:link {
	background-color: #f4ff54; 
}
.meny li a:visited {
	background-color: rgb(122, 188, 239); 
}
.meny li a:focus {
	background-color: hsl(313, 71%, 79%); 
}
.meny li a:hover {
	background-color: #ffa02b;
	transition: background-color 0.3s;
}
.meny li a:active {
	background-color: white
}

/*exempel på ol och dl*/
ol {
	margin-top: 70px;
	text-align: center;
    list-style-position: inside;
}
dl {
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
}

/*ljud*/
audio {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
}

footer {
	background-color: #2b2b2b;
	height: 30%;
}
footer li {
	color: white;
	font-size: 12px;
	display: inline;
	margin: 30px;
}
main {
	flex: 1 0 auto;
}
/*grid för ligor.html*/
.grid-container caption {
	font-size: 25px;
	margin-bottom: 10px;
}
/*flagga*/
.grid-container caption img {
	height: 30px;
	width: 30px;
}
.grid-container table {
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
	border-collapse: collapse;
}
.grid-container th, .grid-container td {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	background-color: white;
}
/*första raden*/
.grid-container th {
	background-color: #787878;
	color: white;
}
/*zebra striping*/
.grid-container tr:nth-child(even) td {
	background-color: #e3e3e3;
}
/*sista kolumnen*/
.grid-container td:nth-child(7) {
	font-weight: bold;
}
/*loggorna*/
.grid-container td img {
	height: 20px;
	width: 20px;
	float: left;
}

/*grid för resultat.html och schema.html*/
/*ram för att separera spalterna*/
.grid-container2 .grid-item2 {
	border-right: 3px solid white;
	border-left: 3px solid white;
}
/*tabell*/
.grid-container2 table {
	margin-left: auto;
	margin-right: auto;
}
/*alla celler*/
.grid-container2 td {
	padding-top: 15px;
	padding-left: 12px;
	padding-right: 12px;
	text-align: center;
	font-size: 18px;
}
/*alla celler på schema.html*/
.schematabell td {
	padding-left: 30px;
	padding-right: 30px;
}
/*grid för höjdpunkter.html*/
.grid-container3 p, h2 {
	text-align: center;
	margin-top: 2px;
	margin-bottom: 2px;
}	
/*formulär*/
form {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 20px;
}
textarea {
	height:200px;
	width: 400px;
	background-color: lightblue;
}

/*för dator*/
@media only screen and (min-width: 753px) {
  /*grid för ligor.html*/
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 700px 700px;
  }
  /*grid för resultat.html och schema.html*/
  .grid-container2 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 800px;
  }
  /*grid för höjdpunkter.html*/
  .grid-container3 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 275px 275px 275px;
  }
  .meny li {
	display: inline;
  }
}
/*för mobil*/
@media only screen and (max-width: 753px) {
  /*flytta ner headern så att nav inte täcker rubriken*/
  header {
	margin-top: 50px;
  }
  /*grid för ligor.html (en spalt)*/
  .grid-container {
    display: grid;
	grid-auto-flow: row;
  }
  .grid-container > * {
	margin-bottom: 20px;
	margin-top: 20px;
  }
  /*grid för resultat.html och schema.html (en spalt)*/
  .grid-container2 {
	display: grid;
	grid-auto-flow: row;
  }
  /*grid för höjdpunkter.html (en spalt)*/
  .grid-container3 {
	grid-auto-flow: row;
  }
  /*vertikal lokal meny på index.html*/
  .meny li {
	margin-top: 80px;
  }
  .meny {
	list-style-type: none;
	margin-bottom: 50px;
  }
}